<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Admin Sign In</h3>
			</div>
			<div class="card-body">
			<form #loginForm="ngForm" (ngSubmit)='loggedIn()'>
					<!--<form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<!--<input type="text"  class="form-control" [ngClass]= "{ 'is-invalid': loginForm.submitted && username.invalid }" placeholder="Username" id="username" name="username" #username="ngModel" [(ngModel)]="model.username" required/>-->
			    	<input type="text" class="form-control"  [ngClass]= "{ 'is-invalid': username.touched && username.invalid }" placeholder="Username" id="username" name="username" #username="ngModel" [(ngModel)]="login.username" required/>
					<span class="invalid-feedback">Username is required</span>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control"  [ngClass]= "{ 'is-invalid': password.touched && password.invalid }" placeholder="Password" id="password" name="password" #password="ngModel" [(ngModel)]="login.password" required/>
						<span class="invalid-feedback">Password is required</span>
					</div>
					<div class="row-align-items-center">
						<input type="checkbox" id="remember" name="remember" #remember="ngModel" [(ngModel)]="model.remember"> Remember Me
					</div>
					<div class="form-group">
						<!--<input type="submit" value="Login" class="btn float-right login_btn" >-->
					<input type="submit" value="Login" class="btn float-right login_btn" [disabled]="loginForm.invalid" >
					</div>
				</form>
			</div>
			<div class="card-footer">
			 <div class="d-flex-links">
					Don't have an account?<a class ="card-links" href="#" [routerLink]="['/login']" >Register</a>
				</div>
				<div class="d-flex-links">
					Forgot your password?<a class="card-links" href="" [routerLink]="['/login']">Reset</a>
				</div>
				<div class="d-flex-links">
					Are you a Retailer? <a class="card-links" href="http://localhost:4200/signin" >Retailer</a>
				</div>
             </div>
		  </div>
  </div>
</div>